@{
    ViewData["Title"] = "About";
}

<section class="py-4">
    <h1>About</h1>
    <p class="mt-3">이 페이지는 기본 소개 페이지입니다.</p>
    <ul>
        <li>ASP.NET Core MVC</li>
        <li>.NET 8</li>
        <li>Bootstrap 5 반응형 UI</li>
    </ul>
</section>
